nav, footer{
  background-color: #181825;
  border-bottom: 2px solid #89B4FA;
  padding: 12px 3px;
  min-height: 60px;
  max-height: 65px;
  display: flex;
  gap: 25px;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  width: auto;
  margin: 0px;
}
nav{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.profil{
  margin-right: 0px;
  margin-left: 4dvw;
}
img {
  float: none;
  display: block;
  width: 15dvw;
  max-width: 100%;
  height: auto;
  border: 2px #89B4FA solid;
  border-radius: 50%;
  margin: 1px auto;
}

.menu-cepat{
  margin: 2dvw;
  display: flex;
}

html{
  scroll-behavior: smooth;
}
body {
  background-color: #1E1E2E;
  font-family: "Times New Roman", Times, serif;
  padding-top: 100px;
  margin: 0px;
  height: auto;
  width: 100dvw;
}
section{
  scroll-margin-top: 100px;
}
h1,h2,h3,h4,h5,h6{
  color: #FFFFFF;
  text-align: center;
}
.container {
  margin: 5dvw;
  padding: 15px;
  border-radius: 2px;
  overflow: hidden;
  box-shadow: 4px 8px rgba(0,0,0,0.3);
}
.container p{
  text-align: justify;
}
.contact-group{
  justify-content: center;
  display: flex;
  overflow: hidden;
  flex-direction: column;
}
.contact{
  background-color: #313244;
  flex: 1 1 255px;
  width: auto;
  height: 5dvw;
  margin: 2%;
}
.contact img{
  float: left;
  width: 5dvw;
  margin: 4px 4px;
}
p {
  color: #CDD6F4;
}
a{
  color: #89B4FA;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}


.projectbox{
  margin: 5dvw;
  padding: 15px;
  border-radius: 6px;
  border-bottom:2px #89B4FA solid;
  border-top: 2px #89B4FA solid;
  background-color: #181825;
}
.project-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  transition: 0.5s;
  
  /*flex-direction: column;*/
}
/*@media screen and (min-width:721px){
  .project-items{
    flex-direction: row;
  }
}*/
.project{
  margin: 5dvw;
  padding: 15px;
  border-radius: 2px;
  background-color:  #313244;
  flex: 1 1 255px;
  transition: 0.5s;
  min-width: 192px;
  justify-content: center;
  height: auto;
}
.project:active{
  background-color:  #181825;
  border-bottom: 2px solid  #89B4FA;
  transition: 0s;
}
.project:hover{
  background-color: #181825;
}

.project p{
  color: red;
  text-align: center;
}
/*view-komputer*/
@media screen and (min-width:721px){
.profil{
  margin-right: auto;
}
.container img{
  float: left;
  margin: 4px 4px;
  }
}